/*@mixin for blocks
  @extend to copy code of another property
  $ for vars*/

@keyframes init {
  to {
     opacity: 100%;
  } from {
    opacity: 0%;
  }
}

@keyframes popupAnim {
  0% {
    margin-top: -51px;
  }
  5% {
    margin-top: 15px;
  }
  95% {
    margin-top: 15px;
  }
  100% {
    margin-top: -51px;
  }
}

@keyframes inputFocus {
  0% {
    border-bottom-width: 0%;
  } 100% {
    border-bottom-width: 100%;
  }
}

@mixin center-content {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

:root {
  // --font-color: whitesmoke;
  // --card-background: #323339;
  // --bg-color: #1d232a;
  // --input-bg: #252525;
  // --border-icon-color: #4d5051;
  // --accent-color: #127012;
  // --accent-hover-color: #143114;
  // --error-color: #a52424;
}

html, .dock {
  background-color: var(--bg-color);
}

body {
  animation-name: init;
  animation-duration: .5s;
}

* {
  color: var(--font-color);
}

.maximize-view {
  height: 100%;
  width: 100%;
}

input, select, textarea {
  transition: .1s;
  background-color: var(--input-bg);
}

.btn {
  transition: .1s;
  box-shadow: none;
  background-color: var(--accent-color);
}

.bta {
  background-color: transparent;
  color: var(--error-color);
}

.bta:hover {
  background-color: var(--error-color);
  color: var(--bg-color);
}

.navbar {
  box-shadow: 0 1px 10px 1px var(--accent-color);
  background-color: var(--bg-color);

  ul {
    background-color: var(--bg-color);
  }

  a, li {
    color: var(--font-color)
  }
}

.btn-nav {
  transition: .25s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid var(--border-icon-color);
  border-radius: 50%;
  padding: .75rem;
  box-sizing: border-box;
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
  color: var(--font-color);
  cursor: pointer;
}

.btn-nav:hover {
  transition: .25s;
  background-color: transparent;
  border: 1px solid transparent;
}

.batton {
  text-decoration: none;
  cursor: pointer;
}

.hyperlink {
  font-weight: bold;
}

.hyperlink:hover {
  text-decoration: underline;
}

.upload-button {
  background-color: var(--card-background);
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: 64px;
  margin: 1rem;
  font-size: 2rem;
  padding: 1rem;
  height: auto;
  width: auto;
  border: none;
  border-radius: 15px;

  svg {
    height: 3rem;
    width: 3rem;

    path {
      fill: var(--font-color);
    }
  }
}

.upload-button:hover {
  svg {
    transform: scale(1.3);

    path {
      fill: var(--accent-color);
    }
  }
}

#receipt-grid {
  // border: red 2.5px solid;
}

.receipt {
  color: var(--font-color);
  background-color: var(--card-background);
  width: auto;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: none;

  container-type: inline-size;
  
  button {
    background-color: var(--accent-color);
    border: none;
    box-shadow: none;
  }
}

.error {
  color: var(--error-color);
}

// .select {
//   width: 25%;
// }

.alert {
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  animation-name: popupAnim;
  animation-duration: 3s;
  top: 0;
  margin-top: -51px;
}

#settings-div {
  div {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: red 1px solid;
  }
}

.absolute-center {
  @include center-content();
}

.upload {
  @include center-content();
  position: fixed;
  display: flex;
  flex-direction: column;
  width: auto;
  background-color: var(--bg-color);
  //border: var(--border-icon-color) 1px solid;
  border-radius: 15px;
  padding: 3rem;

  label {
    margin-top: .5rem;
  }

  .btn-nav {
    position: absolute;
    top: 1%;
    right: 1%;
    margin: 1rem;
  }
}

#binary-panel-div {
  background-color: var(--bg-color);
  border: black 1px solid;
  border-radius: 15px;
  position: fixed;
  z-index: 1;
  width: 500px;
  height: 80vh;
  top: 5vh;

  iframe {
    width: 100%;
    height: 95%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #binary-panel-control-bar {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
  }
}

.triangle {
  width: 0;
  height: 0;
  border-left: 20cqw solid transparent;
  border-right: 20cqw solid transparent;
  border-top: 4rem solid var(--card-background);
  bottom: -63px;
}

//DEV

@keyframes inputFocusHighlight {
  from {
    width: 0;
  } to {
    width: 100%;
  }
}

@keyframes buttonHoverAnim {
  0% {
    transform: rotate(20deg) scale(1.1);
  }
  33% {
    transform: rotate(-20deg) scale(1.2);
  }
  66% {
    transform: rotate(20deg) scale(1.1);
  }
  100% {
    transform: rotate(0deg);
  }
}

.btn-container-hover button svg{
  animation-name: buttonHoverAnim;
  animation-duration: .5s;
}

.select-container {
  background-color: var(--input-bg);
  padding: .5rem;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom: 2px solid var(--border-icon-color);
}

.select-container:focus {
  border-bottom: 2px solid var(--accent-color);
}

.window {
  background-color: var(--bg-color);
  border: 1px solid var(--border-icon-color);
  box-shadow: 10px 10px 10px 10px black;
}

.input-container {
  background-color: var(--input-bg);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  height: 100%;
  width: 100%;

  #title, #error, div {
    transition: .5s;
    position: absolute;
  }

  #title {
    z-index: 0;
    left: 2%;
    bottom: 10%;
    margin: 0;
    margin-bottom: 4px;
    pointer-events: none;
  }

  input, input:focus, select, select:focus {
    top: 0;
    left: 0;
    background-color: transparent;
    border: none;
    padding: .5rem;
    border-bottom: 2px solid var(--border-icon-color);
    outline: none;
    height: 100%;
    width: 100%;
  }

  div {
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--accent-color);
  }
}

.input-focus {
  #title {
    transition: .5s;
    transform: scale(.75);
    bottom: 60%;
    left: 0;
  }

  div {
    transition: .5s;
    width: 100%;
  }
}

.btn-container {
  position: relative;

  button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    svg {
      transition: .5s;
      height: 50%;
      width: 5%;
    }
  }

  div {
    transition: .5s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 50%;
    border-radius: 5px;
    background-color: #00000020;
  }
}

.btn-container:hover {
  button {
    transform: scale(1.01);
  }

  div {
    transition: .5s;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

.input-error {
  @extend .input-focus;

  div {
    width: 100%;
    background-color: var(--error-color);
  }
}

.user-details {
  legend {
    padding: 1rem;
    background-color: var(--bg-color);
    border-radius: 15px;

    h3 {
      font-size: x-large;
      margin-right: .5rem;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      svg {
        width: 1.5rem;
        height: 1.5rem;
        fill: var(--font-color);
      }
    }

    a:hover {
      transform: scale(1.05);
      color: var(--accent-color);

      svg {
        transform: scale(1.2);
        fill: var(--accent-color);
      }
    }

    p {
      width: 100%;
      word-break: break-all;
      margin-left: 1rem;
    }
  }

  legend:hover {
    transform: scale(1.03);
  }
}