/*@mixin for blocks
  @extend to copy code of another property
  $ for vars*/

$card-background: grey;

#receipt-grid {
  border: red 2.5px solid;
}

.card {
  background-color: $card-background;
}

.error {
  color: red;

}

.select {
  width: 25%;
}