/*@mixin for blocks
  @extend to copy code of another property
  $ for vars*/

@keyframes popupAnim{
  0% {
    margin-top: -51px;
  }
  5% {
    margin-top: 15px;
  }
  95% {
    margin-top: 15px;
  }
  100% {
    margin-top: -51px;
  }
}

$card-background: grey;

#receipt-grid {
  border: red 2.5px solid;
}

.card {
  background-color: $card-background;
}

.error {
  color: red;

}

// .select {
//   width: 25%;
// }

.alert {
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  animation-name: popupAnim;
  animation-duration: 3s;
  top: 0;
  margin-top: -51px;
}

#settings-div {
  div {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: red 1px solid;
  }
}

#binary-panel-div {
  border: red 1px solid;
  border-radius: 4rem;
  position: fixed;
  z-index: 1;
  width: 500px;
  height: 80vh;
  top: 5vh;

  iframe {
    width: 100%;
    height: 95%;
  }

  #binary-panel-control-bar {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: flex-end;

    a {
      margin-right: .75rem;
    }
  }
}